<div class="background1">
  <ion-list style="
  margin: 20px;
  background: transparent;">
    <ion-item *ngFor="let op of mathOperations" (click)="clickOpeartion(op.id)" style="border-radius: 20px;font-weight: bold; margin: 10px;">
      <ion-icon name="{{op.image}}"></ion-icon>
      <ion-label>{{op.operation}}</ion-label>
    </ion-item>
  </ion-list>
</div>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Game</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
